<h1>Smart City</h1>
<p>Welcome to the Smart industry website!</p>
<p>Select from the available options below for more information about that place!</p>

<p> Testing something ignore this </p>
{% if cities %}
   <h3>Cities</h3>
   <ul>
   {% for city in cities %}
       <li><a href="{% url 'browser:city' city.id %}">{{ city.name }}</a></li>
   {% endfor %}
   </ul>
{% else %}
   <p>No cities are available.</p>
{% endif %}

{% if hotels %}
   <h3>Hotels</h3>
   <ul>
   {% for hotel in hotels %}
       <li><a href="{% url 'browser:hotel' hotel.id %}">{{ hotel.name }}</a></li>
   {% endfor %}
   </ul>
{% else %}
   <p>No hotels are available.</p>
{% endif %}

{% if industries %}
   <h3>Industries</h3>
   <ul>
   {% for industry in industries %}
       <li><a href="{% url 'browser:industry' industry.id %}">{{ industry.name }}</a></li>
   {% endfor %}
   </ul>
{% else %}
   <p>No industries are available.</p>
{% endif %}
