{% extends 'base.html' %}

{% block content %}

   <div class="container">
      <div class="row">
        <div class="col-md-6" style=""> </div>
        <div class="col-md-6" style="">
          <div class="card p-5">
            <div class="card-body">
              <h1 class="mb-4">Sign Up</h1>
              <form method="post">
                <div class="form-group"> 
					{% csrf_token %}
					{{ form.as_p }}
                <button type="submit" class="btn">Sign Up</button>
              </form>
			  <br /> <br />
			  <a href="/login">Already registered? Click here.</a>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}