body > * {
  background-size: cover;
}

.navbar {
	background-color: #1b486b;
}

.py-5 {
	background-color: #343a40;
	min-height:60px;
}

.background {
	height: 90%;
	overflow:none;
}

.card {
	background-color: #1b486b;
	padding: 20px;
	border-radius: 15px;
	color: white;
}

.btn {
	background-color: #868e96
	
}
#copyright {
	color: #868e96;
}

input {
    color: black;
}
