<!doctpye html>
{% load staticfiles %}

<html>
	<head>
		<meta charset="utf-8">
		<title>Smart City</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="{% static 'output.css' %}"/>
	</head>
	<body>
	<div class="py-5 h-75" style="background-image: url(&quot;https://upload.wikimedia.org/wikipedia/commons/b/b7/StoryBridge.JPG&quot;);">
 <div class="background">
	<nav class="navbar navbar-dark">
		<div class="container-fluid">
			<!-- Logo -->
			<div class="navbar-header">
				<a class="navbar-brand" href="/login">Smart City</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
		</div>
	</nav>

  
	
		{% block content %}
		{% endblock content %}
		</div>
		</div>
		<div class="py-5 h-25">
			<div class="container">
				<div class="row">
					<div class="col-md-12 mt-3 text-center">
						<p></p><br/>
						<p id="copyright">© Copyright 2017 Smart City - All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>