<!DOCTYPE html>
{% load staticfiles %}

<html>
<!-- HEADER -->
	<head>
		<meta charset="utf-8">
		<title>Smart City</title>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
		
		<link rel="stylesheet" href="{% static 'output.css' %}"/>

	</head>

<!-- WELCOME BAR -->

	<body>

  	
	<nav class=" navbar-dark" style="background-color: #0990C6  ;">
		<div class="container-fluid">
			<!-- Logo -->
				
			<div class=" navbar-collapse navbar-header " style="color: #FFFFFF;" class="container">
				<a class="navbar-brand" style="color: #FFFFFF;" href="/browser"><i style="color: #FFFFFF;" class="fa d-inline fa-lg fa-cloud"></i><b>&nbsp;Smart City</b></a>
			</div>

			<div class="collapse navbar-collapse navbar-right text-center justify-content-end" id="navbar2SupportedContent">
        		<a href="login" class="btn navbar-btn btn-primary text-white" style="background-color: #337ab7;">
        			<span class=" glyphicon glyphicon-log-in"></span> &nbsp; Log In
        			
        		</a>
        	</div>

			<div class="collapse navbar-collapse navbar-right text-center justify-content-end" id="navbar2SupportedContent">
        		<a href="register" class="btn navbar-btn btn-primary text-white" style="background-color: #337ab7;"><i class="fa d-inline fa-lg fa-user-circle-o"></i>&nbsp;Sign Up</a>
        	</div>

			

		</div>
	</nav>

  
	
		</div>
			<div class="py-5 h-75"  <!-- style="background-image: url(&quot;https://upload.wikimedia.org/wikipedia/commons/b/b7/StoryBridge.JPG&quot; ); background-size: 100%; background-repeat: no-repeat; background-position: left top;" --> >

				<div class="browser-container">
						{% block content %}
						{% endblock content %}
				</div>
			</div>

		<!-- FOOTER -->
		<div class="py-5 text-white" style="background-color: #0990C6  ;">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p></p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="City categories"> </div>
            <button type="submit" class="btn btn-primary ml-3">Search</button>
          </form>
        </div>
        <div class="col-4 col-md-1 align-self-center" >
        	<p></p>
          <a style="color: -webkit-link;" href="https://www.facebook.com" target="blank"><i class="fa fa-fw fa-facebook fa-3x text-white"></i></a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
        	<p></p>
          <a style="color: -webkit-link;" href="https://twitter.com" target="blank"><i class="fa fa-fw fa-twitter fa-3x text-white"></i></a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
        	<p></p>
          <a style="color: -webkit-link;" href="https://www.instagram.com" target="blank"><i class="fa fa-fw fa-instagram text-white fa-3x"></i></a>
        </div>
      </div>
      	<div class="py-5 h-25" style="background-color: #0990C6  ;">
			<div class="container">
				<div class="row">
					<div class="col-md-12 mt-3 text-center">
						<p></p><br/>
						<p id="copyright" style="color: white">© Copyright 2017 Smart City - All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>

	</body>
</html>

<!-- 
<!doctpye html>
{% load staticfiles %}

<html>
	<head>
		<meta charset="utf-8">
		<title>Smart City</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="{% static 'output.css' %}"/>
	</head>
	<body>
	<div class="py-5 h-75" style="background-image: url(&quot;https://upload.wikimedia.org/wikipedia/commons/b/b7/StoryBridge.JPG&quot;);">
 <div class="background">
	<nav class="navbar navbar-dark">
		<div class="container-fluid">
			
			<div class="navbar-header">
				<a class="navbar-brand" href="/login">Smart City</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
		</div>
	</nav>

  
	
		</div>
		</div>
		<div class="py-5 h-25">
			<div class="container">
				<div class="row">
					<div class="col-md-12 mt-3 text-center">
						<p></p><br/>
						<p id="copyright">© Copyright 2017 Smart City - All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html> -->